extends layout

block content
  h1= title
  p Welcome to #{title}
  table(class='table table-striped' style='width:100%')
    thead
      tr
        th Id
        th ID Kartu
        th Nama
    tbody
      each row in rfid_data
        tr
          td=row.id
          td=row.id_kartu
          td=row.nama_kartu

  script(src="/javascripts/arduino.js")